<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>index page</title>

    <!-- Bootstrap Core CSS -->
    <link href="../app/static/css/bootstrap.min.css" rel="stylesheet">
     <link href="../app/static/js/echarts.min.js" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../app/static/css/stylish-portfolio.css" rel="stylesheet">
    <script src="../app/static/js/echarts.min.js"></script>
    <!-- Custom Fonts -->
    <link href="../app/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>MUTIMIDIA</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="/courses" onclick=$("#menu-close").click();>The Courses</a>
            </li>
            <li>
                <a href="/attendence" onclick=$("#menu-close").click();>以后再说!</a>
            </li>
            <li>
                <a href="/students" onclick=$("#menu-close").click();>The Student</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact US</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>YOUR FROFILE</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>WELCOM</h1>
            <h3>TO MUTIMIDIA CLASS</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Know more about us!</a>
        </div>
    </header>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>--签到情况总览--</h1>
        </div>
    </aside>

    <div  id="grade1" style="height:400px;float: none;display: block; margin-left: auto;margin-right: auto;  "></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('grade1'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text:'一年级签到情况',
                subtext:'截止第十周'

            },
            tooltip: {
                trigger:'axis'
            },
            legend: {
                data:['签到数量']
            },
             toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis: {
                data: ["第一周","第二周","第三周","第四周","第五周","第六周","第七周","第八周","第九周"]
            },
            yAxis: {
                 type : 'value'
            },
            series: [{
                name: '签到总数',
                type: 'bar',
                data: {{ grade1 }},
                markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <div id="grade2" style="height:400px;float: none;display: block; margin-left: auto;margin-right: auto;  ">二年级签到情况</div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('grade2'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '二年级签到情况'
            },
            tooltip: {},
            legend: {
                data:['签到数量']
            },
            xAxis: {
                data: ["第一周","第二周","第三周","第四周","第五周","第六周","第七周","第八周","第九周"]
            },
            yAxis: {},
            series: [{
                name: '签到',
                type: 'bar',
                data: {{ grade2 }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <div id="grade3" style="height:400px;float: none;display: block; margin-left: auto;margin-right: auto;  ">三年级签到情况</div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('grade3'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '三年级签到情况'
            },
            tooltip: {},
            legend: {
                data:['签到数量']
            },
            xAxis: {
                data: ["第一周","第二周","第三周","第四周","第五周","第六周","第七周","第八周","第九周"]
            },
            yAxis: {},
            series: [{
                name: '签到',
                type: 'bar',
                data: {{ grade3 }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>DLUT-816</strong>
                    </h4>
                    <p>Joker
                        <br>2017/01/01</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> ONE PIECE</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>167298@supinfo.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="../app/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../app/static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
